In [2]:
import numpy as np
import pandas as pd

In [3]:
np

In [4]:
pd

In [5]:
# 簡単に一列作る
s = pd.Series(data=[1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
# 2020年1月１日から6日間のデータ
dates = pd.date_range("20200101", periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# 行インデックスに2020年1月1日からのデータを指定
# 各値にはランダムな数値を入れる
df = pd.DataFrame(np.random.randn(6, 4), index=dates)
df

                   0         1         2         3
2020-01-01  0.924637  0.435249  0.855742 -0.495267
2020-01-02 -0.285401 -1.988995  1.929085  0.646551
2020-01-03  0.119123  0.662940 -0.785150 -0.285986
2020-01-04  2.063599  0.151732  0.697338  0.487963
2020-01-05  0.777802  1.951825 -1.041497 -1.016325
2020-01-06 -0.920459 -0.711541 -2.197173  0.659401

In [8]:
"""
2020-01-01	0.698149	0.088677	0.041058	-0.362125
2020-01-02	0.298334	0.785280	0.718198	-0.158033
2020-01-03	-0.943635	0.669130	1.251250	0.704794
2020-01-04	0.242277	-1.666189	-0.215877	0.451119
2020-01-05	-1.860581	-1.338076	2.050772	-0.936615
2020-01-06	1.276926	0.295100	1.138385	0.410485
"""

'\n2020-01-01\t0.698149\t0.088677\t0.041058\t-0.362125\n2020-01-02\t0.298334\t0.785280\t0.718198\t-0.158033\n2020-01-03\t-0.943635\t0.669130\t1.251250\t0.704794\n2020-01-04\t0.242277\t-1.666189\t-0.215877\t0.451119\n2020-01-05\t-1.860581\t-1.338076\t2.050772\t-0.936615\n2020-01-06\t1.276926\t0.295100\t1.138385\t0.410485\n'

In [9]:
# 列名ABCDを設定
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-04  0.593283  0.473915 -1.204479  2.010033
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061

In [10]:
df2 = pd.DataFrame(
    {
        "A": 1.,
        "B": pd.Timestamp("20200101"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2020-01-01  1.0  3   test  foo
1  1.0 2020-01-01  1.0  3  train  foo
2  1.0 2020-01-01  1.0  3   test  foo
3  1.0 2020-01-01  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.head(2)

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761

In [13]:
df.tail(2)

                   A         B         C         D
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061

In [14]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [16]:
df.to_numpy()

array([[-0.98116424,  0.31447712,  0.64016725, -2.34723379],
       [-2.02920119, -1.6477253 ,  1.98075307, -1.87776078],
       [-1.18974013, -0.43157226, -1.41007745,  0.5712302 ],
       [ 0.59328268,  0.47391491, -1.20447911,  2.01003299],
       [ 0.07964398, -1.42336491,  0.71153218,  1.11108215],
       [-0.83836771, -0.74661883, -0.33473778, -3.07106057]])

In [17]:
df2.to_numpy()

array([[1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [18]:
df

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-04  0.593283  0.473915 -1.204479  2.010033
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.727591 -0.576815  0.063860 -0.600618
std    0.936021  0.873139  1.293533  2.093012
min   -2.029201 -1.647725 -1.410077 -3.071061
25%   -1.137596 -1.254178 -0.987044 -2.229866
50%   -0.909766 -0.589096  0.152715 -0.653265
75%   -0.149859  0.127965  0.693691  0.976119
max    0.593283  0.473915  1.980753  2.010033

In [20]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -0.981164   -2.029201   -1.189740    0.593283    0.079644   -0.838368
B    0.314477   -1.647725   -0.431572    0.473915   -1.423365   -0.746619
C    0.640167    1.980753   -1.410077   -1.204479    0.711532   -0.334738
D   -2.347234   -1.877761    0.571230    2.010033    1.111082   -3.071061

In [21]:
df.transpose()

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -0.981164   -2.029201   -1.189740    0.593283    0.079644   -0.838368
B    0.314477   -1.647725   -0.431572    0.473915   -1.423365   -0.746619
C    0.640167    1.980753   -1.410077   -1.204479    0.711532   -0.334738
D   -2.347234   -1.877761    0.571230    2.010033    1.111082   -3.071061

In [22]:
df.sort_index()

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-04  0.593283  0.473915 -1.204479  2.010033
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061

In [23]:
df.sort_index(axis="columns", ascending=False)

                   D         C         B         A
2020-01-01 -2.347234  0.640167  0.314477 -0.981164
2020-01-02 -1.877761  1.980753 -1.647725 -2.029201
2020-01-03  0.571230 -1.410077 -0.431572 -1.189740
2020-01-04  2.010033 -1.204479  0.473915  0.593283
2020-01-05  1.111082  0.711532 -1.423365  0.079644
2020-01-06 -3.071061 -0.334738 -0.746619 -0.838368

In [24]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-01 -2.347234  0.640167  0.314477 -0.981164
2020-01-02 -1.877761  1.980753 -1.647725 -2.029201
2020-01-03  0.571230 -1.410077 -0.431572 -1.189740
2020-01-04  2.010033 -1.204479  0.473915  0.593283
2020-01-05  1.111082  0.711532 -1.423365  0.079644
2020-01-06 -3.071061 -0.334738 -0.746619 -0.838368

In [25]:
df.sort_values(by="B")

                   A         B         C         D
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-04  0.593283  0.473915 -1.204479  2.010033

In [26]:
df.sort_values(by="2020-01-01", axis=1)

                   D         A         B         C
2020-01-01 -2.347234 -0.981164  0.314477  0.640167
2020-01-02 -1.877761 -2.029201 -1.647725  1.980753
2020-01-03  0.571230 -1.189740 -0.431572 -1.410077
2020-01-04  2.010033  0.593283  0.473915 -1.204479
2020-01-05  1.111082  0.079644 -1.423365  0.711532
2020-01-06 -3.071061 -0.838368 -0.746619 -0.334738

In [28]:
df["A"]

2020-01-01   -0.981164
2020-01-02   -2.029201
2020-01-03   -1.189740
2020-01-04    0.593283
2020-01-05    0.079644
2020-01-06   -0.838368
Freq: D, Name: A, dtype: float64

In [29]:
df.A

2020-01-01   -0.981164
2020-01-02   -2.029201
2020-01-03   -1.189740
2020-01-04    0.593283
2020-01-05    0.079644
2020-01-06   -0.838368
Freq: D, Name: A, dtype: float64

In [31]:
# 先頭4列表示
df[0:3]

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230

In [35]:
# 2020年1月2日から2020年1月4日まで表示
df['20200102':'20200104']

                   A         B         C         D
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-04  0.593283  0.473915 -1.204479  2.010033

In [46]:
df.loc[dates]

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-04  0.593283  0.473915 -1.204479  2.010033
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061

In [47]:
df.loc[dates[0]]

A   -0.981164
B    0.314477
C    0.640167
D   -2.347234
Name: 2020-01-01 00:00:00, dtype: float64

In [54]:
df.loc[:, ["A", "B"]]

                   A         B
2020-01-01 -0.981164  0.314477
2020-01-02 -2.029201 -1.647725
2020-01-03 -1.189740 -0.431572
2020-01-04  0.593283  0.473915
2020-01-05  0.079644 -1.423365
2020-01-06 -0.838368 -0.746619

In [57]:
df.loc['20200102':'20200104', ['A', 'B']]

                   A         B
2020-01-02 -2.029201 -1.647725
2020-01-03 -1.189740 -0.431572
2020-01-04  0.593283  0.473915

In [58]:
df.loc[dates[0], 'A']

-0.9811642394059827

In [60]:
df.at[dates[0], 'A']

-0.9811642394059827

In [66]:
df

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-04  0.593283  0.473915 -1.204479  2.010033
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061

In [70]:
df.iloc[3] # 4行目を1列として選択

A    0.593283
B    0.473915
C   -1.204479
D    2.010033
Name: 2020-01-04 00:00:00, dtype: float64

In [93]:
df.iloc[3:5, 0:2] # 4行目から5行目まで、1列目から2列目まで選択

                   A         B
2020-01-04  0.593283  0.473915
2020-01-05  0.079644 -1.423365

In [95]:
df.iloc[[1, 2, 4], [0, 2]] # 2行目、3行目、5行目、1列目、3列目を選択

                   A         C
2020-01-02 -2.029201  1.980753
2020-01-03 -1.189740 -1.410077
2020-01-05  0.079644  0.711532

In [96]:
df.iloc[1:3, :] # 2行目から3行目を全列選択

                   A         B         C         D
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230

In [98]:
df.iloc[:, 1:3] # 2列目から3列目を善行選択

                   B         C
2020-01-01  0.314477  0.640167
2020-01-02 -1.647725  1.980753
2020-01-03 -0.431572 -1.410077
2020-01-04  0.473915 -1.204479
2020-01-05 -1.423365  0.711532
2020-01-06 -0.746619 -0.334738

In [99]:
df.iloc[1, 1]

-1.6477252974705752

In [100]:
df.iat[1, 1]

-1.6477252974705752

In [101]:
df

                   A         B         C         D
2020-01-01 -0.981164  0.314477  0.640167 -2.347234
2020-01-02 -2.029201 -1.647725  1.980753 -1.877761
2020-01-03 -1.189740 -0.431572 -1.410077  0.571230
2020-01-04  0.593283  0.473915 -1.204479  2.010033
2020-01-05  0.079644 -1.423365  0.711532  1.111082
2020-01-06 -0.838368 -0.746619 -0.334738 -3.071061

In [107]:
df[df["A"] > 0] # A列のデータが0を超えている行を選択する

                   A         B         C         D
2020-01-04  0.593283  0.473915 -1.204479  2.010033
2020-01-05  0.079644 -1.423365  0.711532  1.111082