# 10分で分かるpandas
## はじめに
この記事はpandas公式チュートリアル「10 minutes to pandas」の写経及び解説です

以下のURLを参考にしています
https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html


## 環境
- Python3.8
- Jupyter Lab

# とりあえずインポート

In [25]:
import numpy as np
import pandas as pd

In [26]:
np

In [27]:
pd

## [1. Object creation - オブジェクトを作る](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#object-creation)

### Seriesクラス
[Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series)クラスにリストを入れることで簡単にデータを作ることが出来ます。

In [28]:
# 簡単に一列作る
s = pd.Series(data=[1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### data_rangeメソッド
[date_range()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)を使うことで、特定の期間の日付の行を作成出来ます。

In [29]:
# 2020年1月１日から6日間のデータ
dates = pd.date_range("20200101", periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

### DataFrameクラス
pandasの[DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas-dataframe)クラス**引数index**を指定することで、行インデックスを指定することが出来ます。

In [30]:
# 行インデックスに2020年1月1日からのデータを指定
# 各値にはランダムな数値を入れる
df = pd.DataFrame(np.random.randn(6, 4), index=dates)
df

                   0         1         2         3
2020-01-01 -0.914393  0.795745  0.334537  1.218790
2020-01-02  0.639180  0.102196  0.095129  0.660993
2020-01-03  1.816712 -0.042898  0.628015 -2.292253
2020-01-04  1.247254  1.055026  0.816795 -1.352139
2020-01-05 -1.261864  0.089413  0.957410 -0.625251
2020-01-06 -2.308070 -0.790125  1.109270  1.399142

また、同じくDataFrameクラスの
**引数columns**を指定することで列名を設定することが出来ます。

In [31]:
# 列名ABCDを設定
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-06  0.206719  0.304007  1.789359 -0.359094

DataFrameクラスに辞書型のデータを渡すことで、辞書型のキーの部分が列名になります。

In [32]:
df2 = pd.DataFrame(
    {
        "A": 1.,
        "B": pd.Timestamp("20200101"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2020-01-01  1.0  3   test  foo
1  1.0 2020-01-01  1.0  3  train  foo
2  1.0 2020-01-01  1.0  3   test  foo
3  1.0 2020-01-01  1.0  3  train  foo

### DataFrame.dtypesプロパティ
**dtypesプロパティ**に参照することで各列のデータ属性が分かります。

In [33]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## [2. Viewing data - データを表示する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#object-creation)

DataFrameクラスの[head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html#pandas.DataFrame.head)を使うことでデータの先頭部を表示出来ます。

### DataFrame.headメソッド

In [34]:
df.head(2)

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687

同じくDataFrameクラスの[tail()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html#pandas-dataframe-tail)を使うことでデータの後尾部を表示出来ます。

### DataFrame.tailメソッド
同じくDataFrameクラスの[tail()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html#pandas-dataframe-tail)を使うことでデータの後尾部を表示出来ます。

In [35]:
df.tail(2)

                   A         B         C         D
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-06  0.206719  0.304007  1.789359 -0.359094

### DataFrame.indexプロパティ
DataFrameクラスの[index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html#pandas-dataframe-index)を参照することでそのデータの行インデックスを表示出来ます。

In [36]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [37]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

### DataFrame.to_numpyメソッド
DataFrameクラスの[to_numpy()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_numpy.html#pandas-dataframe-to-numpy)を使うことでデータをnumpyで操作しやすいデータに変換出来ます。

In [38]:
df.to_numpy()

array([[-1.1247831 , -0.17407791,  0.89355769,  0.20693564],
       [-0.77816925, -1.30641083,  0.230777  , -0.903687  ],
       [ 0.1931742 ,  1.64706984, -2.39259733,  0.17600214],
       [ 0.39859054,  0.07689425, -1.28388645,  0.3920912 ],
       [-0.99682572, -0.17256966, -1.42521017,  0.06487763],
       [ 0.20671941,  0.30400716,  1.7893593 , -0.35909388]])

In [41]:
df2.to_numpy()

array([[1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [42]:
df

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-06  0.206719  0.304007  1.789359 -0.359094

### DataFrame.describeメソッド
DataFrameクラスの[describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html#pandas-dataframe-describe)を使うことで、データの各列の簡単な統計を取ることが出来ます。

In [43]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.350216  0.062485 -0.364667 -0.070479
std    0.688094  0.954415  1.591209  0.479070
min   -1.124783 -1.306411 -2.392597 -0.903687
25%   -0.942162 -0.173701 -1.389879 -0.253101
50%   -0.292498 -0.047838 -0.526555  0.120440
75%    0.203333  0.247229  0.727863  0.199202
max    0.398591  1.647070  1.789359  0.392091

### DataFrame.T属性
DataFrameクラスの[T](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.T.html#pandas-dataframe-t)を参照すると、行列入れ替えたデータにアクセス出来ます。

In [44]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -1.124783   -0.778169    0.193174    0.398591   -0.996826    0.206719
B   -0.174078   -1.306411    1.647070    0.076894   -0.172570    0.304007
C    0.893558    0.230777   -2.392597   -1.283886   -1.425210    1.789359
D    0.206936   -0.903687    0.176002    0.392091    0.064878   -0.359094

### DataFrame.transposeメソッド
DataFrameクラスの[transpose()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transpose.html#pandas-dataframe-transpose)でも同じく行列の入れ替えを取得出来ます。

In [45]:
df.transpose()

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -1.124783   -0.778169    0.193174    0.398591   -0.996826    0.206719
B   -0.174078   -1.306411    1.647070    0.076894   -0.172570    0.304007
C    0.893558    0.230777   -2.392597   -1.283886   -1.425210    1.789359
D    0.206936   -0.903687    0.176002    0.392091    0.064878   -0.359094

### DataFrame.sort_index()

DataFrameクラスの[sort_index()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html#pandas-dataframe-sort-index)を使用することで、行全体もしくは列全体の並び替えを行うことが出来ます。

In [46]:
df.sort_index()

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-06  0.206719  0.304007  1.789359 -0.359094

**引数axis**に0もしくは"index"を設定すると行に、1もしくは"columns"を設定すると、列を軸に並び替えします(デフォルト値0)。  
また、**引数ascending**にFalseを指定すると並び順が降順になります(デフォルト値True)。

In [47]:
df.sort_index(axis="columns", ascending=False)

                   D         C         B         A
2020-01-01  0.206936  0.893558 -0.174078 -1.124783
2020-01-02 -0.903687  0.230777 -1.306411 -0.778169
2020-01-03  0.176002 -2.392597  1.647070  0.193174
2020-01-04  0.392091 -1.283886  0.076894  0.398591
2020-01-05  0.064878 -1.425210 -0.172570 -0.996826
2020-01-06 -0.359094  1.789359  0.304007  0.206719

In [48]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2020-01-06  0.206719  0.304007  1.789359 -0.359094
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-01 -1.124783 -0.174078  0.893558  0.206936

### DataFrame.sort_valuesメソッド
DataFrameクラスの[sort_values()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html#pandas-dataframe-sort-values)を使用することで行単位もしくは列単位に並び替えを行うことが出来ます。

In [49]:
df.sort_values(by="B")

                   A         B         C         D
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-06  0.206719  0.304007  1.789359 -0.359094
2020-01-03  0.193174  1.647070 -2.392597  0.176002

In [50]:
df.sort_values(by="2020-01-01", axis=1)

                   A         B         D         C
2020-01-01 -1.124783 -0.174078  0.206936  0.893558
2020-01-02 -0.778169 -1.306411 -0.903687  0.230777
2020-01-03  0.193174  1.647070  0.176002 -2.392597
2020-01-04  0.398591  0.076894  0.392091 -1.283886
2020-01-05 -0.996826 -0.172570  0.064878 -1.425210
2020-01-06  0.206719  0.304007 -0.359094  1.789359

## [3. Selection - データを選択する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#selection)
### [3.1 getting - 単純なデータ取得](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#getting)

**df["A"]**もしくは**df.A**とすることで、指定した一列を取得することが出来ます。

In [51]:
df["A"]

2020-01-01   -1.124783
2020-01-02   -0.778169
2020-01-03    0.193174
2020-01-04    0.398591
2020-01-05   -0.996826
2020-01-06    0.206719
Freq: D, Name: A, dtype: float64

In [52]:
df.A

2020-01-01   -1.124783
2020-01-02   -0.778169
2020-01-03    0.193174
2020-01-04    0.398591
2020-01-05   -0.996826
2020-01-06    0.206719
Freq: D, Name: A, dtype: float64

リスト**[]**で指定した場合、Pythonのスライス操作で列や行を選択することが出来ます

インデックスの範囲を取得することも出来ます。

In [53]:
print("先頭4列表示")
df[0:3]

先頭4列表示

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002

In [54]:
# 2020年1月2日から2020年1月4日まで表示
df['20200102':'20200104']

                   A         B         C         D
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091

### [3.2 Selection by label - ラベルを指定してデータを選択する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#selection-by-label)

DataFrameクラスの[loc()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas-dataframe-loc)にインデックス(今回の場合dates)を指定することで、行を列として選択することが出来ます。

In [55]:
df.loc[dates]

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-06  0.206719  0.304007  1.789359 -0.359094

In [56]:
df.loc[dates[0]]

A   -1.124783
B   -0.174078
C    0.893558
D    0.206936
Name: 2020-01-01 00:00:00, dtype: float64

[loc()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas-dataframe-loc)を使うことで、複数列を選択することが出来ます。

In [57]:
df.loc[:, ["A", "B"]]

                   A         B
2020-01-01 -1.124783 -0.174078
2020-01-02 -0.778169 -1.306411
2020-01-03  0.193174  1.647070
2020-01-04  0.398591  0.076894
2020-01-05 -0.996826 -0.172570
2020-01-06  0.206719  0.304007

[loc()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas-dataframe-loc)とスライス操作を組み合わせることで複数行、複数列選択することが出来ます。

In [58]:
df.loc['20200102':'20200104', ['A', 'B']]

                   A         B
2020-01-02 -0.778169 -1.306411
2020-01-03  0.193174  1.647070
2020-01-04  0.398591  0.076894

[loc()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas-dataframe-loc)にインデックスを指定することで単体データを取得出来ます

In [59]:
df.loc[dates[0], 'A']

-1.124783100251685

[at()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html)を使うことでより高速に単体データを取得することが出来ます

In [60]:
df.at[dates[0], 'A']

-1.124783100251685

### [3.3 Selection by position - 位置を指定してデータを選択する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#selection-by-position)

DataFrameクラスの[iloc()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html)を使うことで、数値を指定してデータ選択することが出来ます。

In [61]:
df

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-06  0.206719  0.304007  1.789359 -0.359094

In [62]:
df.iloc[3] # 4行目を1列として選択

A    0.398591
B    0.076894
C   -1.283886
D    0.392091
Name: 2020-01-04 00:00:00, dtype: float64

In [63]:
df.iloc[3:5, 0:2] # 4行目から5行目まで、1列目から2列目まで選択

                   A         B
2020-01-04  0.398591  0.076894
2020-01-05 -0.996826 -0.172570

In [65]:
df.iloc[[1, 2, 4], [0, 2]] # 2行目、3行目、5行目、1列目、3列目を選択

                   A         C
2020-01-02 -0.778169  0.230777
2020-01-03  0.193174 -2.392597
2020-01-05 -0.996826 -1.425210

DataFrameクラスの[iloc()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html)の引数に開始位置終了位置を省略したスライス(:のみ)を指定することで、特定の全行 or 全列を取得出来ます

In [66]:
df.iloc[1:3, :] # 2行目から3行目を全列選択

                   A         B         C         D
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002

In [67]:
df.iloc[:, 1:3] # 2列目から3列目を善行選択

                   B         C
2020-01-01 -0.174078  0.893558
2020-01-02 -1.306411  0.230777
2020-01-03  1.647070 -2.392597
2020-01-04  0.076894 -1.283886
2020-01-05 -0.172570 -1.425210
2020-01-06  0.304007  1.789359

DataFrameクラスの[iloc()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html)に引数に数値のみ指定することで、単体データの選択が出来ます。

In [68]:
df.iloc[1, 1]

-1.3064108311245817

[at()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html)と同様、[iat()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html)使うことでより高速に単体データを取得することが出来ます

In [69]:
df.iat[1, 1]

-1.3064108311245817

### [3.4 Boolean indexing - 条件判定によるデータ選択](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#boolean-indexing)

In [70]:
df

                   A         B         C         D
2020-01-01 -1.124783 -0.174078  0.893558  0.206936
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878
2020-01-06  0.206719  0.304007  1.789359 -0.359094

A列のデータが0を超えている行を選択するには以下のようにします。

In [71]:
df[df["A"] > 0]

                   A         B         C         D
2020-01-03  0.193174  1.647070 -2.392597  0.176002
2020-01-04  0.398591  0.076894 -1.283886  0.392091
2020-01-06  0.206719  0.304007  1.789359 -0.359094

DataFrameに対して条件判定することで、特定のデータだけ表示することが出来ます。

In [72]:
df[df > 0]

                   A         B         C         D
2020-01-01       NaN       NaN  0.893558  0.206936
2020-01-02       NaN       NaN  0.230777       NaN
2020-01-03  0.193174  1.647070       NaN  0.176002
2020-01-04  0.398591  0.076894       NaN  0.392091
2020-01-05       NaN       NaN       NaN  0.064878
2020-01-06  0.206719  0.304007  1.789359       NaN

[isin()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html#pandas-series-isin)を使うことでフィルタリングが出来ます。

In [73]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2020-01-01 -1.124783 -0.174078  0.893558  0.206936    one
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687    one
2020-01-03  0.193174  1.647070 -2.392597  0.176002    two
2020-01-04  0.398591  0.076894 -1.283886  0.392091  three
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878   four
2020-01-06  0.206719  0.304007  1.789359 -0.359094  three

In [74]:
df2[df2['E'].isin(['two', 'four'])]

                   A        B         C         D     E
2020-01-03  0.193174  1.64707 -2.392597  0.176002   two
2020-01-05 -0.996826 -0.17257 -1.425210  0.064878  four

### [3.5 Setting - データを設定する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#setting)

新しい列を設定すると、データがインデックスによって自動的に配置されます。

In [75]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20200102', periods=6)) # 新しい列用のデータを作成する
s1

2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int64

In [76]:
df['F'] = s1 # DataFrameのF列にs1を追加
df

                   A         B         C         D    F
2020-01-01 -1.124783 -0.174078  0.893558  0.206936  NaN
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687  1.0
2020-01-03  0.193174  1.647070 -2.392597  0.176002  2.0
2020-01-04  0.398591  0.076894 -1.283886  0.392091  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878  4.0
2020-01-06  0.206719  0.304007  1.789359 -0.359094  5.0

ラベル指定による設定も出来ます。

In [77]:
print(dates)
df.at[dates[0], 'A'] = 0 # 1行目A列のデータを0に設定する
df

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D    F
2020-01-01  0.000000 -0.174078  0.893558  0.206936  NaN
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687  1.0
2020-01-03  0.193174  1.647070 -2.392597  0.176002  2.0
2020-01-04  0.398591  0.076894 -1.283886  0.392091  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878  4.0
2020-01-06  0.206719  0.304007  1.789359 -0.359094  5.0

位置指定による設定も出来ます。

In [78]:
df.iat[0, 1] = 0 # 1行目B列を0にする
df

                   A         B         C         D    F
2020-01-01  0.000000  0.000000  0.893558  0.206936  NaN
2020-01-02 -0.778169 -1.306411  0.230777 -0.903687  1.0
2020-01-03  0.193174  1.647070 -2.392597  0.176002  2.0
2020-01-04  0.398591  0.076894 -1.283886  0.392091  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  0.064878  4.0
2020-01-06  0.206719  0.304007  1.789359 -0.359094  5.0

NumPy配列を使った設定も出来ます。

In [79]:
df.loc[:, 'D'] = np.array([5] * len(df)) # D列にNumpyで設定したデータを設定する
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000  0.893558  5  NaN
2020-01-02 -0.778169 -1.306411  0.230777  5  1.0
2020-01-03  0.193174  1.647070 -2.392597  5  2.0
2020-01-04  0.398591  0.076894 -1.283886  5  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  5  4.0
2020-01-06  0.206719  0.304007  1.789359  5  5.0

条件判定で選択したデータに対して値を設定することも出来ます

In [80]:
df2 = df.copy()
df2[df2 > 0] = 9999 # 0より大きいデータを全て9999にする
df2

                      A            B            C     D       F
2020-01-01     0.000000     0.000000  9999.000000  9999     NaN
2020-01-02    -0.778169    -1.306411  9999.000000  9999  9999.0
2020-01-03  9999.000000  9999.000000    -2.392597  9999  9999.0
2020-01-04  9999.000000  9999.000000    -1.283886  9999  9999.0
2020-01-05    -0.996826    -0.172570    -1.425210  9999  9999.0
2020-01-06  9999.000000  9999.000000  9999.000000  9999  9999.0

## [4. Missing data - 欠落データ](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#missing-data)

pandasでは欠落データを表すのに主に [np.nan](https://docs.scipy.org/doc/numpy/reference/constants.html#numpy.nan) を利用します。  
DataFrameクラスの[reindex()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html)を使うことで指定した行・列の変更/追加/削除を行ったDataFrameを返却します。

In [81]:
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000  0.893558  5  NaN
2020-01-02 -0.778169 -1.306411  0.230777  5  1.0
2020-01-03  0.193174  1.647070 -2.392597  5  2.0
2020-01-04  0.398591  0.076894 -1.283886  5  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  5  4.0
2020-01-06  0.206719  0.304007  1.789359  5  5.0

In [82]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [83]:
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    F    E
2020-01-01  0.000000  0.000000  0.893558  5  NaN  1.0
2020-01-02 -0.778169 -1.306411  0.230777  5  1.0  1.0
2020-01-03  0.193174  1.647070 -2.392597  5  2.0  NaN
2020-01-04  0.398591  0.076894 -1.283886  5  3.0  NaN

DataFrameクラスの[dropna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)を使うことで、欠落データ(NaN)を含むデータを除外することが出来ます。

In [84]:
df1.dropna(how='any') # NaNを含むデータを除外

                   A         B         C  D    F    E
2020-01-02 -0.778169 -1.306411  0.230777  5  1.0  1.0

Pandasクラスの[isna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isna.html)を使うことで、欠落データかどうかの判定を行うことが出来ます。

In [85]:
pd.isna(df1)

                A      B      C      D      F      E
2020-01-01  False  False  False  False   True  False
2020-01-02  False  False  False  False  False  False
2020-01-03  False  False  False  False  False   True
2020-01-04  False  False  False  False  False   True

## [5. Operations - 操作](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#operations)

### [5.1 Stats - 統計](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#stats)

DataFrameクラスのmean()を使うことで簡単な統計を取ることが出来ます。

In [86]:
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000  0.893558  5  NaN
2020-01-02 -0.778169 -1.306411  0.230777  5  1.0
2020-01-03  0.193174  1.647070 -2.392597  5  2.0
2020-01-04  0.398591  0.076894 -1.283886  5  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  5  4.0
2020-01-06  0.206719  0.304007  1.789359  5  5.0

In [87]:
df.mean() # 各列データの平均値

A   -0.162752
B    0.091498
C   -0.364667
D    5.000000
F    3.000000
dtype: float64

In [88]:
df.mean(1) # 各行データの平均値

2020-01-01    1.473389
2020-01-02    0.829239
2020-01-03    1.289529
2020-01-04    1.438320
2020-01-05    1.281079
2020-01-06    2.460017
Freq: D, dtype: float64

pandasでは一次元のSeriesを使い、二次元のDataFrameに対して操作を行うことができます

In [89]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2020-01-01    NaN
2020-01-02    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-06    NaN
Freq: D, dtype: float64

In [90]:
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000  0.893558  5  NaN
2020-01-02 -0.778169 -1.306411  0.230777  5  1.0
2020-01-03  0.193174  1.647070 -2.392597  5  2.0
2020-01-04  0.398591  0.076894 -1.283886  5  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  5  4.0
2020-01-06  0.206719  0.304007  1.789359  5  5.0

df - s を行う

In [91]:
df.sub(s, axis='index') # dfからs分、引き算する

                   A         B         C    D    F
2020-01-01       NaN       NaN       NaN  NaN  NaN
2020-01-02       NaN       NaN       NaN  NaN  NaN
2020-01-03 -0.806826  0.647070 -3.392597  4.0  1.0
2020-01-04 -2.601409 -2.923106 -4.283886  2.0  0.0
2020-01-05 -5.996826 -5.172570 -6.425210  0.0 -1.0
2020-01-06       NaN       NaN       NaN  NaN  NaN

### [5.2 Apply - 適用する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#apply)

np.cumsumはリスト内データを順次加算しますが、df.apply()を使うことでデータ適用させることが出来ます。

In [92]:
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000  0.893558  5  NaN
2020-01-02 -0.778169 -1.306411  0.230777  5  1.0
2020-01-03  0.193174  1.647070 -2.392597  5  2.0
2020-01-04  0.398591  0.076894 -1.283886  5  3.0
2020-01-05 -0.996826 -0.172570 -1.425210  5  4.0
2020-01-06  0.206719  0.304007  1.789359  5  5.0

In [93]:
df.apply(np.cumsum)

                   A         B         C   D     F
2020-01-01  0.000000  0.000000  0.893558   5   NaN
2020-01-02 -0.778169 -1.306411  1.124335  10   1.0
2020-01-03 -0.584995  0.340659 -1.268263  15   3.0
2020-01-04 -0.186405  0.417553 -2.552149  20   6.0
2020-01-05 -1.183230  0.244984 -3.977359  25  10.0
2020-01-06 -0.976511  0.548991 -2.188000  30  15.0

### [5.3 Histogramming - ヒストグラム](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#histogramming)

In [95]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    4
1    0
2    5
3    2
4    1
5    0
6    1
7    4
8    0
9    6
dtype: int32

In [96]:
s.value_counts()

0    3
4    2
1    2
6    1
5    1
2    1
dtype: int64

### [5.4 String Methods - 文字列メソッド](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#string-methods)

In [102]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [101]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## [6. Merge - マージ](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#merge)

### [6.1 Concat - 連結](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#concat)

In [104]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.135132  0.337013  2.105642 -2.057806
1  0.819719  0.283456 -1.149266  0.492252
2  0.120022 -1.629443  1.333296  2.008371
3  1.410825 -1.713954 -0.897979  1.498533
4 -0.163468  0.655736 -1.980109 -0.682659
5 -0.019544  0.598747  0.662715 -1.054725
6  0.600069  0.729346 -0.709705 -1.593795
7  0.630364 -0.873114 -2.398816 -1.630671
8 -0.690221 -0.879753  1.090089 -2.065497
9 -0.630598 -1.451288 -1.358824  1.111194

In [106]:
pieces = [df[:3], df[3:7], df[7:]] # 一旦3つのdfに分割
pieces

[          0         1         2         3
 0  0.135132  0.337013  2.105642 -2.057806
 1  0.819719  0.283456 -1.149266  0.492252
 2  0.120022 -1.629443  1.333296  2.008371,
           0         1         2         3
 3  1.410825 -1.713954 -0.897979  1.498533
 4 -0.163468  0.655736 -1.980109 -0.682659
 5 -0.019544  0.598747  0.662715 -1.054725
 6  0.600069  0.729346 -0.709705 -1.593795,
           0         1         2         3
 7  0.630364 -0.873114 -2.398816 -1.630671
 8 -0.690221 -0.879753  1.090089 -2.065497
 9 -0.630598 -1.451288 -1.358824  1.111194]

In [108]:
pd.concat(pieces) # 分割したdfリストを連結

          0         1         2         3
0  0.135132  0.337013  2.105642 -2.057806
1  0.819719  0.283456 -1.149266  0.492252
2  0.120022 -1.629443  1.333296  2.008371
3  1.410825 -1.713954 -0.897979  1.498533
4 -0.163468  0.655736 -1.980109 -0.682659
5 -0.019544  0.598747  0.662715 -1.054725
6  0.600069  0.729346 -0.709705 -1.593795
7  0.630364 -0.873114 -2.398816 -1.630671
8 -0.690221 -0.879753  1.090089 -2.065497
9 -0.630598 -1.451288 -1.358824  1.111194

In [110]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [111]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [112]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [113]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [114]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [115]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

残り。。。

## [7. Grouping - グループ化する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#grouping)

## [8. Reshaping - 再構築する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#reshaping)

## [9. Time series - 時系列](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#time-series)

## [10. Categoricals - カテゴリー化](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#categoricals)

## [11. Plotting - 描画する](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#plotting)

## [12. Getting data in/out - データの入力と出力](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#getting-data-in-out)

## [13. Gotchas - 落とし穴](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#gotchas)